body {
    background-image: url(../images/artworks-bJ8ProC9fzzvyyr1-I4qL3g-t500x500.jpg);
    background-size:cover;
    min-height: 100vh;
    color: white;
    text-shadow: 2px 2px #000000;
      
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
